* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    background: #C1DFD7;
  }

  h1 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 25px;
  }

  #player {
      float: left;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 18px;
      margin-left: 30px;
  }
  
  #memory-game {
    width: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
  }
  
  .memory-card {
    background-color: antiquewhite;
    width: 100px;
    height: 100px;
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
  }

  #front {
      backface-visibility: hidden;
  }
  
  #back:active {
    transform: scale(0.97);
    transition: transform .2s;
  }
  

.memory-card.flip {
    transform: rotateY(180deg);
  }
  
  #back {
    width: 100px;
    height: 100px;
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  }
  
